{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | réinitialisation du MDP{% endblock %}

{% block body %}
    <h1 >Réinitialisation de votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialisation</button>
    {{ form_end(resetForm) }}
{% endblock %}
