{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Accueil {% endblock %}

{% block body %}
    <main>
        <div class="general">
            <h1>Accueil</h1>

            {% if is_granted("ROLE_ADMIN") %}
                <a href="{{ path('sortie_create') }}"> Créer une sortie</a>
            {% endif %}
        </div>
    </main>



{% endblock %}
