{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Accueil {% endblock %}

{% block body %}
    <main>
        <h1>Accueil</h1>

        {% if is_granted("ROLE_ADMIN") %}
            <button><a href="{{ path('sortie_create') }}"> Créer une sortie</a></button>
        {% endif %}
    </main>



{% endblock %}
