html, body {
    background-image: url("../img/backdrop.png");
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background: rgba(24, 29, 49, 0.75);
}

header a {
    padding: 10px;
}

main {
    height: 78vh;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.general {
    background-color: rgba(24, 29, 49, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    height: 50vh;
    border-radius: 30px;
    min-width: 60vh;
}

.general input {
    width: 70vh;
    height: 3vh;
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
}
.general h1 {
    text-decoration: overline #50A1A4;
}
.general p {
    margin: 0;
}
.general a {
    text-decoration: none;
    color: white;
}
.general a:hover {
    color: #50A1A4;
}
.general button {
    margin: 15px;
    border-radius: 30px;
    height: 5vh;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background: #50A1A4;
    border: none;
    font-size: medium;
}

.general button:hover {
    color: #50A1A4;
    background: white;
}

.general table input{
    width: 20vh;
}

.general table button{
    width: 15vh;

}

.general form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.general form .btn_valider{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.general form .btn_valider button{
    width: 15vw;
}
label{

    display: block;
}

.generalBig {
    background-color: rgba(24, 29, 49, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    height: 60vh;
    border-radius: 30px;
}


.generalBig form .col1, .col2{
    margin: 10px;
}

.generalBig input, textarea, select{
    width: 50vh;
    height: 3vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
}

.generalBig textarea {
    resize: none;
}

.generalBig h1 {
    text-decoration: overline #50A1A4;
}

.generalBig a {
    text-decoration: none;
    color: white;
}

.generalBig a:hover {
    color:#50A1A4;
}

.generalBig button {
    margin: 15px;
    border-radius: 30px;
    height: 5vh;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background: #50A1A4;
    border: none;
    font-size: medium;
}

.generalBig button:hover {
    color: #50A1A4;
    background: white;
}

.generalBig form div{
    display: flex;
    flex-direction: column;
}

.generalBig .column{
    display: flex;
    flex-direction: row;
}

.generalBig form div .lieu{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.generalBig form div .lieu button{
    height: 4vh;
    width: 5vh;
    font-weight: bolder;
}

.generalBig .detail_lieu p{
    margin: 0.3vh;
    padding: 0;
}

.generalBig td p{
    margin: 1vh;
    padding: 0;
}

.generalBig th p{
    margin: 1vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

.generalBig .creation_sortie{
    margin: 1vh;
    padding: 0;
}

.generalBig .btn_sortie{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.generalBig .btn_sortie button{
    width: 30vh;
}



.logincheckbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bolder;

}

.logincheckbox input{
    width: 10%;
}








nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;

}

nav li {
    list-style: none;
    margin: 10px;
    padding: 8px;
}

li a {
    color: #50A1A4;
    text-decoration: none;
}

nav li a:hover {
    color: white;
    text-decoration: overline #50A1A4;
}





.flash {
    position: absolute;
    padding: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 1rem 0;
    border-radius: 5px;
    left: 50%;
    width: auto;
    height: 40px;
    margin-top: 10px;
    margin-left: -200px;
}

.flash--success {
    position: center;
    background-color: rgba(67, 94, 52, 0.75);
    color:white;
}






.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    clear: both;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    background-color: rgba(24, 29, 49, 0.75);
    padding: 10px 30px;
    height: 70vh;
    border-radius: 30px;
}

.register form div{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.register input {
    width: 50vh;
    height: 3vh;
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
}

.container h1 {
    text-decoration: overline #50A1A4;
    color: #FFFFFF;
    margin: 0;
}
.register select{
    width: 50vh;
    height: 3vh;
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.register button {
    display: block;
    width: 100%;
    border: none;
    padding: 7px 14px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    height: 5vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: medium;
    color: white;
    background: #50A1A4;

}

.register button :hover {
    color: #50A1A4;
    background: white;
}

.btn-remember-me{
    position: absolute;
    padding-left: 75px;
}








table {
    border:none;
    border-radius: 30px;
    border-collapse: collapse;
    color: white;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(191, 197, 220, 0.75);
}

thead {
    background-color: rgba(24, 29, 49, 0.92);
    border:1px solid rgba(24, 29, 49, 0.75);
}

tbody {
    background-color: rgba(40, 52, 75, 0.75);
    border:1px solid rgba(24, 29, 49, 0.75);
}

th {
    border:1px dotted rgba(24, 29, 49, 0.75);
    background-color:rgba(24, 29, 49, 0.75);
    color:#50A1A4;
    padding: 1vh;
}

td {
    font-weight: bold;
    border:1px solid rgba(24, 29, 49, 0.75);
    text-align:center;
    padding: 1vh;
}

.general td a{
    text-decoration: underline;
    color: #99c7c7;
}

.generalBig td a{
    text-decoration: underline;
    color: #99c7c7;
}

td div input{
    width: 100px;
}

tr{
    width: 100vw;
}




.sorties table {
    border:none;
    border-radius: 30px;
    border-collapse: collapse;
    color: white;
    overflow: hidden;
    box-shadow: 0 0 0 1px rgba(191, 197, 220, 0.75);
    display: block;
    max-height: 40vh;
    overflow-y: scroll;
}

.sorties thead {
    position: sticky;
    background-color: rgba(24, 29, 49, 0.92);
    border:1px solid rgba(24, 29, 49, 0.75);
}

.sorties tbody {
    background-color: rgba(40, 52, 75, 0.75);
    border:1px solid rgba(24, 29, 49, 0.75);
}

.sorties th {
    border:1px dotted rgba(24, 29, 49, 0.75);
    background-color:rgba(24, 29, 49, 0.75);
    color:#50A1A4;
    padding: 1vh;
}

.sorties td {
    font-weight: bold;
    border:1px solid rgba(24, 29, 49, 0.75);
    text-align:center;
    padding: 1vh;
}

.sorties td div input{
    width: 100px;
}

.sorties tr{
    width: 100vw;
}






footer{
    position: absolute;
    bottom:0;
    width:100%;
    background: rgba(24, 29, 49, 0.75);
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: smaller;
}

footer p {
    padding: 0;
    margin: 2px;
}



