html, body {
    background-image: url("../img/backdrop.png");
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background: rgba(24, 29, 49, 0.75);
}

header a {
    padding: 10px;
}

main {
    height: 78vh;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.general {
    background-color: rgba(24, 29, 49, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
    height: 40vh;
    border-radius: 30px;
}

.general input {
    width: 50vh;
    height: 3vh;
    margin: 15px;
}

.general h1 {
    text-decoration: overline #50A1A4;
}

.general a {
    text-decoration: none;
    color: white;
}

.general a:hover {
    text-decoration: underline;
}

.general button {
    margin: 15px;
    border-radius: 30px;
    height: 5vh;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background: #50A1A4;
    border: none;
}

.general button:hover {
    color: #50A1A4;
    background: white;
}


nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;

}

nav li {
    list-style: none;
    margin: 10px;
    padding: 8px;
}

li a {
    color: #50A1A4;
    text-decoration: none;
}

nav li a:hover {
    color: white;
    text-decoration: overline #50A1A4;
}

main {
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    clear: both;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFFFFF;
    background-color: rgba(24, 29, 49, 0.75);
    padding: 10px;
    height: 73vh;
    border-radius: 30px;
    margin: 30px;
}


.register input {
    width: 50vh;
    height: 3vh;
    margin: 15px;
}

.register h1 {
    text-decoration: overline #50A1A4;
    color: #FFFFFF;
}
.register select{
    width: 50vh;
    height: 3vh;
    margin: 15px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}
.register button {
    display: block;
    width: 100%;
    border: none;
    padding: 7px 14px;
    cursor: pointer;
    text-align: center;
    border-radius: 30px;
    height: 5vh;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background: #50A1A4;

}

.register button :hover {
    color: #50A1A4;
    background: white;
}

.btn-remember-me{
    position: absolute;
    padding-left: 75px;
}


table {
    border:none;
    border-radius: 30%;
    border-collapse:collapse;
    width: 50vh;
    margin:auto;
    color: white;
}

thead, tfoot {
    background-color: rgba(24, 29, 49, 0.92);
    border:1px solid rgba(24, 29, 49, 0.75);
}

tbody {
    background-color: rgba(40, 52, 75, 0.75);
    border:1px solid rgba(24, 29, 49, 0.75);
}

th {
    border:1px dotted rgba(24, 29, 49, 0.75);
    padding:5px;
    background-color:rgba(24, 29, 49, 0.75);
    width:40%;
    color:#50A1A4;
}

td {
    font-weight: bold;
    border:1px solid rgba(24, 29, 49, 0.75);
    padding:5px;
    text-align:center;
}


