{% extends 'base.html.twig' %}

{% block title %}
 Créer une sorties | {{ parent() }}
{% endblock %}

{% block body %}
  <h1>Formulaire sortie</h1>
   {{ form_start(sortieForm) }}
   {{ form_widget(sortieForm) }}

   <button>Créer une sortie</button>

   {{form_end(sortieForm)}}
{% endblock %}
