<nav>
    <ul>
        <li><a href="{{ path('main_home') }}" title="Accueil">Accueil</a></li>
        <li><a href="{{ path('') }}" title="monProfil">Mon Profil</a></li>
        <li><a href="{{ path('') }}" title="seDeconnecter">Se Déconnecter</a></li>
    </ul>
</nav>