<nav>
    <ul>
        <li><a href="{{ path('main_index') }}" title="Accueil">Accueil</a></li>
        <li><a href="#" title="monProfil">Mon Profil</a></li>
        <li><a href="#" title="seDeconnecter">Se Déconnecter</a></li>
    </ul>
</nav>